name: Update
on:
  schedule:
    - cron:  '*/15 * * * *'

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
      - uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - run: go build ./
      - run: ./create-plugin-index
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: plugin-index
          FOLDER: plugin-index
